@import 'partial/variables'
ig-w = 1.2rem

.detail-content
  margin-top mg-top
  .content
    @extend $block
    margin-bottom (20/75)rem
    .title
      padding pd 
      font-size size-title
  .info-wrap.s
    border none
  .info-wrap
    border-bottom 1px solid color-border
    font-size sp-size
    display flex
    padding pd
  .user_avatar
    display inline-block
    width ig-w
    height ig-w
    img
      border-radius 50%
      width ig-w
      height ig-w
  .item-detail
    display inline-flex
    width (ct-width - ig-w - 2 * pd)rem
    justify-content space-between
    .z
      display flex
      flex-direction column
      justify-content space-around
      padding-left (20/75)rem
      i
        display inline-block
        padding 0 5px
        margin-right 5px
        background-color #CACACA
        border-radius 5px
      .ac 
        background-color #6DD45D
    .g
      display flex
      align-items center
      text-align right
      i
        display block
        width 1rem
        height 1rem
        line-height 1rem
        text-align center
        font-size (40/75)rem
        border-radius 50%
        color color-green
        &:active
          background-color color-bg - 15
      .ii
        color #878787
        font-size (30/75)rem
      .ii.ac
        color color-green
  .comments
    @extend $block
  