@import './partial/variables.styl'
.edit
  margin-top (100/75)rem
  .item
    display flex
    justify-content space-between
    height 1.2rem
    padding 0 0 0 (20/75)rem
    line-height 1.2rem
    font-size (32/75)rem
    border-bottom 1px solid color-border
    .pub
      transition all 200ms
      display inline-block
      font-size (32/75)rem
      padding 0 (40/75)rem  
      border-left 1px solid color-border
      box-shadow 0 0 3px color-hover
      &:active
        color color-green
        background-color color-bg - 10
        box-shadow none
    .select
      outline none 
      font-size (32/75)rem
      padding (10/75)rem (10/75)rem
      height 1.2rem
    .title-i
      font-size (32/75)rem
      width 10 - (20/75) rem
      outline none
.edit-area
  width 10rem
  .text
    box-sizing border-box
    outline none
    font-size (32/75)rem
    width 10rem
    height 20rem
    padding 10px