@import './partial/variables'

.header
  background-color bg-deep
  color s-white
  .header-wrap
    .icon, h3
      height 1rem
      font-size 0.5rem
      line-height 1rem
      padding 10px   
      display inline-block
    .icon
      padding 10px 0.3rem