@import './partial/variables'

.content
  margin-top (92/75)rem
.banner
  background-color bg-deep
  img
    padding (10/75)rem 0 (100/75)rem  
    display block
    margin 0 auto
    width 80%

.login
  display block
  width 8rem
  margin 0 auto
  margin-top -(20/75)rem
  padding (30/75)rem   
  border-radius 3px
  background-color #FFF
  box-shadow 1px 1px 20px color-hover
  .i-wrap
    margin-top (30/75)rem
    input
      width 100%
      font-size (32/75)rem
      padding (10/75)rem 0
      border none
      outline none
      border-bottom 2px solid color-green
  .b-wrap
    display flex
    // justify-content center
    margin-top (40/75)rem
    a
      display inline-block
      text-align center
      width 3rem
      height 0.93rem
      line-height 0.93rem
      font-size sp-size
      color color-font-white
      background-color color-green
      border-radius (5/75)rem
      box-shadow 1px 1px 10px color-hover
      &:active
        background-color color-green - 20
  .tip
    // text-align center
    margin-top (30/75rem)
    a
      color color-green
      font-size size-title - 0.03
      border-bottom 1px solid color-green
      