@import 'partial/variables'
@import 'partial/reset'
html
  -webkit-overflow-scrolling touch
  -webkit-text-size-adjust 100%
body
  margin 0
  padding 0
  max-width 10rem
  margin 0 auto
  position relative
  word-break break-all
  font-size size-font
  line-height 1.5
  font-family family
  background color-bg
  color color-font            
                                
@font-face 
  font-family 'cn_font';
  src url('//at.alicdn.com/t/font_1471420483_5685318.eot')
  src url('//at.alicdn.com/t/font_1471420483_5685318.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1471420483_5685318.woff') format('woff'),
  url('//at.alicdn.com/t/font_1471420483_5685318.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1471420483_5685318.svg#iconfont') format('svg')
                    
.icon
  font-family 'cn_font'
  font-size 28px
.i-menu:before
  content '\e600'
.i-starline:before
  content '\e602'
.i-star:before
  content '\e601'
.i-praise:before
  content '\e604'
.i-reply:before
  content '\e603'
.i-all:before
  content '\e609'
.i-good:before
  content '\e605'
.i-share:before
  content '\e60a'
.i-ask:before
  content '\e608'
.i-job:before
  content '\e60b'
.i-about:before
  content '\e606'
.i-back:before
  content '\e60c'
.i-loading:before
  content '\e60d'
.i-msg:before
  content '\e60e'
.i-pub:before
  content '\e60f'
.i-down:before
  content '\e610'