@import 'partial/variables'
@import 'partial/reset'
html
  -webkit-overflow-scrolling touch
  -webkit-text-size-adjust 100%
body
  margin 0
  padding 0
  max-width 10rem
  margin 0 auto
  position relative
  word-break break-all
  word-wrap break-word
  font-size size-font
  line-height 1.5
  font-family family
  background color-bg
  color color-font                           
@font-face 
  font-family 'cn_font';
  src url('//at.alicdn.com/t/font_1469292718_4684837.eot')
  src url('//at.alicdn.com/t/font_1469292718_4684837.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1469292718_4684837.woff') format('woff'),
  url('//at.alicdn.com/t/font_1469292718_4684837.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1469292718_4684837.svg#iconfont') format('svg')
                    
.icon
  font-family 'cn_font'
  font-size 28px
.i-menu:before
  content '\e600'                  