@import './partial/variables'
.user-wrap
  max-width 10rem
  margin-top (92/75)rem
  .avatar
    margin 0 auto
    width iw = 1.8rem
    font-size size-title
    text-align center
    img
      border-radius 50%
      width iw
      height iw
.header
  color color-font-white
  padding (20/75)rem (30/75)rem (30/75)rem
  background-color bg-deep
  .info
    padding-top (30/75)rem
    display flex
    justify-content space-between
    .score
      color color-green
.content
  width 10rem
  .nav
    margin-top -1px
    width 10rem
    color color-font-white
    text-align center
    display flex
    background-color bg-deep + 20
    justify-content space-between
    box-shadow 0 (5/75)rem (10/75)rem color-hover
    a
      width (10/3)rem
      line-height 1.1rem
      &:active
        background-color bg-deep + 25
    a.ac
      border-bottom (8/75)rem solid color-green + 20
    
    