@import '../partial/variables'
.dialog-mask
  position fixed
  z-index 4
  top 0
  bottom 0
  left 0
  right 0
  background-color rgba(0, 0, 0, 0.5)
.dialog
  position fixed
  top 50%
  left 50%
  transform translate(-50%,-50%)
  z-index 5
  background-color #FFF
  width 7rem
  padding 0.4rem 0.5rem
  .text
    word-break break-word
    font-size size-title
  .btn-wrap
    text-align right
    a
      display inline-block
      color color-green
      font-size sp-size
      padding 0.2rem 0.2rem 0.1rem
      &:active
        background-color color-hover + 50