@import '../partial/variables'

.header
  position fixed
  z-index 2
  top 0
  width 10rem
  background-color bg-deep
  color s-white
  box-shadow 0 1px 10px color-hover
  .header-wrap
    .icon, h3
      height 1rem
      line-height 1rem
      font-size 0.5rem
      padding (10/75)rem   
      display inline-block
    .icon
      padding (10/75)rem 0.3rem
    .i-pub
      font-size 0.4rem
      float right
      &:active
        background-color bg-deep + 20
.s
  box-shadow none