@import '../partial/variables.styl'
.page-num
  margin-top -2px
  text-align center
  height 0.9rem
  line-height 0.9rem
  font-size (26/75)rem
  background-color color-bg
  color color-font
  span
    display inline-block
    padding 0 (40/75)rem
  a:active
    color color-green
  .shadow
    color color-font + 100