body
h1
h2
h3
h4
h5
h6
hr
p
blockquote
dl
dt
dd
ul
ol
li
pre
form
fieldset
legend
button
input
textarea
th
td
  margin 0
  padding 0 
h1
h2
h3
h4
h5
h6
  font-weight normal
  font-size 100%
address
cite
dfn
em
var
i
  font-style normal
code
kbd
pre
samp
  font-family courier new, courier, monospace
small
  font-size 16px
ul
ol
  list-style none
/** reset the text style **/
a
  text-decoration none
fieldset
img
  border 0
/* img 搭车：让链接里的 img 无边框 */
input
select
  -webkit-tap-highlight-color transparent