// Color
color-bg = #FEFEFE
s-color-bg = #FFF
color-font = #323232
s-white = #dadada
color-hover = #B2B2B2
bg-deep = #333333
// Font
size-font = 14px
size-title = 16px
line-height = 1.5
family = "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
font-header-lg = 1.75em
font-header-md = 1.5em
font-header-sm = 1.1em
// Time
side-time = 300ms
hover-time = 200ms
// layout
side-width = 210px