// Color
color-bg = #FEFEFE
s-color-bg = #FFF
color-font = #323232
color-highlight = #000
s-white = #dadada
color-hover = #B2B2B2
color-border = #B0B0B0
bg-deep = #333333
color-background-deep = #EDEDED
color-background-shallow = #EDEDED + 10
// Font
size-font = 14px
size-text = (18/75)rem
sp-size = (26/75)rem
size-title = (30/75)rem
line-height = 1.5
family = "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;
font-header-lg = 1.75em
font-header-md = 1.5em
font-header-sm = 1.1em
// Time
side-time = 300ms
hover-time = 200ms
// layout
pd = (10/75)rem
mg-top = (100/75)rem
ct-width = 9.8rem
item-mg = (10/75)rem auto
item-shadow = 0 (5/75)rem (20/75rem) color-hover


// block
$block
  width ct-width
  margin item-mg
  box-shadow item-shadow